/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page process_licenseguide Process Module License Information

    @tableofcontents

This module is released under the MIT license (see COPYING in the source distribution for more information)

Boost parts in src/boost are distributed under the Boost Software License,
Version 1.0. (See http://www.boost.org/LICENSE_1_0.txt)
*/
