/** @mainpage %Qore %Process Module

    @tableofcontents

    @section processintro Process Module Introduction

The %process module is a Qore wrapper around
<a href="http://www.boost.org/doc/libs/release/libs/process/">Boost.Process</a> by Klemens David Morgenstern.

Primary class provided by this module:
- @ref Qore::Process::Process "Process"

The %process module provides an API to manage system processes. It can be used to:
 - create child processes
 - communicate with child processes through standard input/output/error
 - wait for processes to exit
 - terminate processes
 - send signals to processes (POSIX only)
 - get process memory and CPU load information
 - get file descriptor counts
 - and more

    @section processdocumentation Documentation

    - @anchor process_platforms @subpage process_platformsguide
    - @anchor process_license @subpage process_licenseguide
    - @anchor process_relnotes @subpage process_relnotesguide

*/
